html,
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    135deg,
    rgba(191, 57, 137, 1) 0%,
    rgba(9, 107, 222, 1) 100%
  );
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  margin: 0 auto;
  /* background-image: url(https://i.gifer.com/5GpD.gif); */
}
h1,
p {
  box-shadow: #333;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
